@model List<Receptor>

@{
    ViewData["Title"] = "Index";
}

<h1>Receptor</h1>

<alert mensagem="@TempData["msg"]"></alert>

<form class="row" asp-action="index" method="get">
    <div class="col-4">
        <input name="filtro" class="form-control" type="text" placeholder="Digite o cnpj" />
    </div>
    <button type="submit" texto="Pesquisar"></button>
</form>

<a asp-action="cadastrar">Cadastrar</a>

<table class="table table-striped">
    <tr>
        <th>Razão Social</th>
        <th>Nome Fantasia</th>
        <th>CNPJ</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.RazaoSocial</td>
            <td>@item.NomeFantasia</td>
            <td>@item.Cnpj</td>
            <td>
                <a asp-action="editar" asp-route-id="@item.Id"
                   class="btn btn-sm btn-outline-info">Editar</a>
                <!-- Button trigger modal -->
                <button onclick="key.value = @item.Id" type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Remover
                </button>
            </td>
        </tr>
    }
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmação</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Deseja realmente apagar o receptor?
            </div>
            <div class="modal-footer">
                <form asp-action="excluir">
                    <input type="hidden" name="id" id="key" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                    <button type="submit" class="btn btn-danger">Sim</button>
                </form>
            </div>
        </div>
    </div>
</div>
